<div *ngIf="club">
  <h1>{{club.attributes.name}}</h1>
  <!--<div><span>id: </span>{{club.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="club.attributes.name" placeholder="name">
    </label>
  </div>-->
  <div>
    <ngb-pagination *ngIf="totalPages > 1" [collectionSize]="totalPlayers" [pageSize]="pageSize" [(page)]="pageNumber" [boundaryLinks]="true" [rotate]="true" (pageChange)="loadPlayers()"></ngb-pagination>
    <table *ngIf="totalPlayers > 1" class="table table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Position</th>
        <th scope="col">Value</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let player of players">
        <td>{{player.attributes.firstName}} {{player.attributes.lastName}}</td>
        <td>{{player.attributes.position | titlecase }}</td>
        <td>{{player.attributes.value}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <button class="btn btn-primary" (click)="goBack()">Back</button>
</div>
