<div class="container">
  <div class="navbar navbar-dark bg-dark navbar-expand-lg">

    <a class="navbar-brand" routerLink="/dashboard" (click)="navbarCollapsed = true">{{ title }}</a>

    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed"
            [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/clubs" (click)="navbarCollapsed = true">Clubs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{apiUrl}}/swagger-ui.html">API</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item" *ngIf="!authService.isAuthenticated()">
          <a class="nav-link" (click)="authService.login()">Log In</a>
        </li>
        <li class="nav-item dropdown" *ngIf="authService.isAuthenticated()">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{user?.attributes.picture}}" alt="${{user?.attributes.nickname}}" width="20" height="20" style="border-radius:75%; margin:0px;">
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/profile">Signed in as <b>{{user?.attributes.nickname}}</b></a>
            <a class="dropdown-item" (click)="authService.logout()">Log Out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

