<div class="container">
  <div class="navbar navbar-dark bg-dark navbar-fixed-top navbar-expand-lg">

    <a class="navbar-brand" routerLink="/dashboard" (click)="navbarCollapsed = true">{{ title }}</a>

    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed"
            [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/clubs" (click)="navbarCollapsed = true">Clubs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8080/swagger-ui.html">API</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!authService.isAuthenticated()">
          <button class="btn btn-light btn-margin" (click)="authService.login()">Log In</button>
        </li>
        <li class="nav-item" *ngIf="authService.isAuthenticated()">
          <a class="nav-link" routerLink="/profile"><img src="{{profile?.picture}}" alt="{{profile?.nickname}}" title="{{profile?.nickname}}" style="width:20px; height:20px; border-radius:75%; margin:0px;"></a>
        </li>
        <li *ngIf="authService.isAuthenticated()">
          <button class="btn btn-light btn-margin" (click)="authService.logout()">Log Out</button>
        </li>
      </ul>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

